[submodule "glfw"]
	path = GLFW
	url = https://github.com/glfw/glfw.git
[submodule "CeCe-core"]
	path = CeCe-core
	url = ../CeCe-core
[submodule "CeCe-plugins"]
	path = CeCe-plugins
	url = ../CeCe-plugins
